.Victory {
  background-color: #a3cfec;
}

.Defeat {
  background-color: #e2b6b3;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Home-splash {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 0);
}

.Home-search {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  top: 60%;
}

.Home-splash img {
  width: 100%;
  padding-bottom: 10px;
}

.Home-actions {
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  top: 19%;
  padding: 10px;
}

.Summoner-splash {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 100px;
  transform: translate(-50%, 0);
}

.Summoner-intro {
  overflow: auto;
}

.Summoner-intro-image {
  float: left;
}

.Summoner-intro-image img{
  width: 100px;
  height: 100px;
}

.Summoner-intro-details {
  padding-left: 120px;  
}

.Summoner-matches {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 120px;
  transform: translate(-50%, 0);
}

.ChampionMatches {
  font-size: 20px;
  line-height: 40px;
}

.ChampionMatch {
  padding-bottom: 4px;
}

.ChampionMatch-content {
  display: table;
  width: 100%;
}

.ChampionMatch-stats {
  display: table-cell;
  width: 70px;
  text-align: center;
  font-size: 11px;
  color: #555;
  line-height: 16px;
  
  height: 50px;
  vertical-align: middle;
}

.ChampionMatch-image {
  display: table-cell;
  width: 50px;
  height: 50px;
}

.ChampionMatch-image img {
  width: 50px;
  height: 50px;
}

.ChampionMatch-KDA{
  display: table-cell;
  width: 70px;
  text-align: center;
  font-size: 11px;
  color: #555;
  line-height: 16px;
  
  height: 50px;
  vertical-align: middle;
}

.ChampionMatch-KDA-Ratio {

}

.ChampionMatch-Damage {
  display: table-cell; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
